{% extends "base.html" %}
{% block conteudo %}
<div class="container">
    <h2 class="pt-4 pb-4">Cadastrar nova atividade complementar</h2>
    <form action="/atividades/novo" method="post" enctype="multipart/form-data" class="form">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" class="form-control">
        </div>
        <div class="form-group">
            <label for="tipo">Tipo:</label>
            <input type="text" id="tipo" name="tipo" class="form-control">
        </div>
        <div class="form-group">
            <label for="data">Data:</label>
            <input type="date" id="data" name="data" class="form-control">
        </div>
        <div class="form-group">
            <label for="carga_horaria">carga_horaria:</label>
            <input type="number" id="carga_horaria" name="carga_horaria" class="form-control">
        </div>
        <div class="form-group">
            <label for="arquivo">Certificado:</label>
            <input type="file" id="arquivo" name="nome" class="form-control">
        </div>
        <input type="submit" class="btn btn-success" value="Cadastrar">
    </form>
</div>
{% endblock %}