<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
</head>
<body class="container">
    <h1>Página Inicial</h1>
    <table class="table">
        {% for u in usuarios    %}
        <tr>
            <td>{{u.nome}}</td>
            <td>{{u.email}}</td>
        </tr>
        {% endfor %}
    </table>
    <button class="btn btn-success">Listar</button>
</body>
</html>